<%- include ('../../partials/head.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    
    <div class="container">
        <hr>
        <h2>Artigos</h2>
        <a href="/admim/articles/new" class="btn btn-primary">Criar novo artigo</a>
        <br>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Category</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                    <% articles.forEach( article =>{  %>

                    <tr>
                        <th><%= article.id %></th>
                        <th><%= article.title %></th>
                        <th><%= article.slug %></th>
                        <th><%= article.category.title %></th>
                        <th>
                            <form action="/admim/articles/delete" method="POST" style ="display: inline;" onsubmit="confirmarDelete(event,this)" >
                                <input type="hidden" 
                                        name = "id" 
                                        value="<%= article.id %>" 
                                >
                                <button class="btn btn-danger">Excluir</button>
                            </form>
                        </th>
                    </tr>

                    <% }) %>
            </tbody>
        </table>
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>
<script>
    function confirmarDelete(event,form){
        event.preventDefault();
        let decision = confirm("Você realmente deseja deletar este artigo?");
        if(decision){
            form.submit();
        }
    }
</script>