<%- include ('../../partials/head.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    
    <div class="container">
        <br>
        <div class="card">

            <div class="card-header">

                <h2>Editar Artigo</h2>
            </div>

            <div class="card-body">

                
                <form action="/admim/articles/update" method="POST">
                    <input type="hidden" value="<%= article.id%>" name="id">
                    <input class="form-control" type="text" name ="title" placeholder="Defina o título do artigo" value="<%= article.title %>">
                    <br>
                    <label>Categoria</label>
                    <select class="form-control" name="category">
                        <% categories.forEach((category)=>{ %>


                            <% if(category.id == article.categoryId){%>
                                <option value="<%= category.id %>" selected>
                                    <%= category.title %>
                                </option>
                            <% }else{%>
                                <option value="<%= category.id %>" >
                                    <%= category.title %>
                                </option>
                             <%}%>   
                            <% }) %>                            
                    </select>
                    <br>
                    <textarea id="article" class ="form-control "name="body" placeholder="Escreva o artigo aqui"></textarea>
                    
                    
                    <br>
                    <button class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
    <div id="content" style="display: none;">
        <%= article.body %>
    </div>
      
</body>
<%- include ('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>

    
    tinymce.init({
        language:'pt_BR',
        selector: "#article",
        forced_root_block : "",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime  media save table paste emoticons'
            
        ],
        init_instance_callback: () => {
            tinymce.get("article").setContent($("#content").html())
        }
    });


</script>